<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
    <connectionStrings>
        <remove name="SirTafheemConnectionString" />
        <add connectionString="Server=SHAHROZ-PC\SQLEXPRESS;Database=SchoolProject;Integrated Security=true" name="SirTafheemConnectionString" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
